## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
TestResults/
*.ncrunchsolution
*.ncrunchproject
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
_ReSharper*/
*.DotSettings.user
publish/
PublishProfiles/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

## IDE
.idea/
*.swp
*.swo
